<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336911521162-4smvcfnkopej9j3ans0uckkk6jv202pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336911521162-4smvcfnkopej9j3ans0uckkk6jv202pa</string>
	<key>API_KEY</key>
	<string>AIzaSyBkTadMfeVss4VrCvI2was0CI2ujXnWljQ</string>
	<key>GCM_SENDER_ID</key>
	<string>336911521162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soloDev.k24Admin</string>
	<key>PROJECT_ID</key>
	<string>kartenlegen24-2a340</string>
	<key>STORAGE_BUCKET</key>
	<string>kartenlegen24-2a340.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336911521162:ios:62d6cd838b75a3a7cde473</string>
</dict>
</plist>